@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    margin: 0;
    background: #292929;
    font-family: 'Work Sans', sans-serif;
    color: white;
}
/* 
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #55d6aa;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #292929;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
    background-color: #292929;
}
nav a:hover::after {
    background-color: #C7C7BF;
    color: #292929;
} */
.navbar-menu {
    /* background-image: linear-gradient(#1a1a1a, #0f5f96, #137DC5 ); */
    background-image: linear-gradient(#292929, #34468e, #3683c0, #34468e, #292929);
    height: 8em;
}
/* .block {
    margin: 0;
    padding-bottom: 0;
} */
#logo {
    background-image: url(assets/images/CryptoLogo.png);
    background-size: cover;
    height: auto;
    width: 200px;
}
.figure, .card-content {
    padding: 5px;
    background-color: #C7C7BF;
}
.container {
    margin-top: 100px;
}
.card-height {
    height: 120px !important;
    background-color: #C7C7BF;
}
.content{
    background-color: #C7C7BF;
    color: #34468e;
    text-align: center;
    vertical-align: 5em;
}
.media {
    align-items: center;
}
.title, .subtitle {
    text-align: center;
}
#dropdown {
    background-color: #C7C7BF;
}
#currency {
    font-weight: bolder;
    font-size: 1.5em;
    color: #34468e;
    align-items: baseline;
}
.ticker {
    background-color: rgb(199,199,191,0.35);
}
.ti-tick{
    color: #34468e;
}

.ti-perf {
    color: #34468e;
}
