* { 
    box-sizing: border-box; 
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-container {
  
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: rgba(199,199,191,0.45);
  border: 1px solid rgba(0,0,0,0.5);
  box-sizing: content-box;
  margin-bottom: 10px;
}
.ticker {

display: inline-block;
height: 2rem;
line-height: 2rem;  
white-space: nowrap;
padding-left: 20%;
box-sizing: content-box;

-webkit-animation-iteration-count: infinite; 
        animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
        animation-timing-function: linear;
-webkit-animation-name: ticker;
        animation-name: ticker;
-webkit-animation-duration: 300s;
        animation-duration: 300s;
}

.ticker-item {

    display: inline-block;
    padding: 0 2rem;
    font-size: 1.2rem;
    color: #E6E6E3;   

}

footer{
    margin-top: 50px;
    background-color: black !important;
    color: #b8b8b5;
}

h1,h2,p {
    padding: 0 5%;
}

.container{
    margin-top: 50px;
}

.menu-cols{
    width: 70rem;
    padding: 10px;
}

tbody tr:hover{

  cursor: crosshair;
  background-color: rgba(199,199,191,0.45) !important;
}

.user-pref{
  margin: 20px auto !important;
}

/*Data Tables Style Override*/
.dataTables_wrapper, .dataTables_length, .dataTables_info, .dataTables_filter{
  color: white !important;
  margin-bottom: 5px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
  color:white !important;
}

.dataTables_wrapper .dataTables_paginate{
  color:white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: rgba(250,250,250,0.75) !important;
}

/*Data Tables Select Drop Down*/
.dataTables_wrapper .dataTables_length select{
  background-color: rgba(199,199,191,0.5);
  border: none;
}
/*Data Tables search input*/
.dataTables_wrapper .dataTables_filter input{
  background-color: rgba(199,199,191,0.5);
  border: none;
}